<!DOCTYPE html>
<html lang="en">
    <head>
       <title>Dashboard</title>
    </head>
    <body>
     <h1>Dashboard</h1>
     <p>
        <% for (var i =0; i < students.length;  i++ ) { %>
            <%= students[i].firstName %> <%= students[i].lastName %> 
            <br>
            <% } %>
            <br>
        <% if(username !== undefined){ %>
            <%= username %>
       <% } else { %>
            <% 0 %>
       <% } %>
        </p>
    </body>
</html>
