<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>User Dashboard - Home</title>
        <link href="/stylesheets/user-styles.css" rel="stylesheet" />
        <link href="/stylesheets/user-styles2.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <img src="/images/papyrus-logo-transparent.png" alt="homepage" class="papy-logo" />
            <!--<a class="navbar-brand ps-3" href="#">Start Bootstrap</a>-->
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!-- <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>-->
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon-fix"><i class="fa-thin fa-house"></i></div>
                                 Hello User
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <a class="nav-link" href="/user-dashboard/new">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                New orders
                            </a>
                         <!--<div class="sb-sidenav-menu-heading">Interface</div>-->   
                            <a class="nav-link collapsed" href="/user-dashboard/pending" >
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Pending Orders
                                
                            </a>
                            
                            
                            <a class="nav-link collapsed" href="/user-dashboard/archive" >
                                <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                                Completed Orders
                               
                            </a>

                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in by:</div>
                        Student User
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                
                <main>
                    <br>
                    
                    
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">&emsp;File Upload</h1>
                      
                        <br><br><br>
                        <form method="post" action="/user-dashboard/new/order" enctype="multipart/form-data">&emsp;
                        <div class="frame">
                            <div class="center">
                                <div class="title">
                                    <h1>Click to Browse or <br> Drag and Drop file to upload</h1>
                                </div>
                        
                                <div class="dropzone">
                                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                                    <input id="fileUpload" name="fileUpload" type="file" class="upload-input" />
                                </div>
                        
                            </div>
                        </div>
                    </div>    
                </main>
                <footer class="py-4 bg-light mt-auto">
                   
                </footer>
                <div id="one1"><br>
                 <h1 class="mt-3">&emsp;&emsp;Request Specifications</h1><br>
                
                
                    &emsp;<label>Copies</label>&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <input type="number" id="pages" name="copies" value="1" min="1" max="100">
                    <br><br>
                    <label class="specs">Orientation</label>
                    <select class="specbox" name = "orientation">
                        <option value = "portrait" selected>Portrait</option>
                        <option value = "landscape">Landscape</option>                      
                        </select>
                        <br><br>
                        <label class="specs">Colour</label>
                        <select class="specbox" name = "colour">
                        <option value = "10" >Color - ₹10</option>
                        <option value = "1" selected>Black and White - ₹1</option>
                        
                        </select>
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" name="lamination" type="checkbox" value="50" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"></label>
                          Lamination - ₹50
                        </label>
                      </div><br>
                      <div class="form-check">
                        <input class="form-check-input" name="binding" type="checkbox" value="75" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"></label>
                          Binding - ₹75
                        </label>
                      </div><br>
                      
                    <label>Additional Instructions</label>
                        <textarea rows = "3" cols = "45" name = "instructions" style="text-align:left; padding:0px;" >
                         </textarea><br>            
                
                
                <!-- HTML !-->
                <button class="button-3" role="button" type="submit">Review Order</button>
            </form>
                </div>
            </div>
        </div>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/javascripts/scripts.js"></script>
    </body>
</html>





